<app-header></app-header>
<h2 class="text-center pt-2 py-5">Cliente</h2>

<div class="row d-flex">
    <form class="col-4 " [formGroup]="formRegister">
        <input type="text" id="inputNombre" class="form-control" name="inputNombre" placeholder="Nombre"
            [(ngModel)]="cliente.nombre" formControlName="inputNombre"
            [class.is-invalid]="formRegister.get('inputNombre')?.touched && formRegister.get('inputNombre')?.invalid"
            [class.is-valid]="formRegister.get('inputNombre')?.valid">
        <br>
        <input type="number" id="inputDni" class="form-control" name="inputDni" placeholder="DNI"
            [(ngModel)]="cliente.dni" formControlName="inputDni"
            [class.is-invalid]="formRegister.get('inputDni')?.touched && formRegister.get('inputDni')?.invalid"
            [class.is-valid]="formRegister.get('inputDni')?.valid">
        <br>
        <button type="button" class="btn btn-success ms-2" (click)="nuevoCliente()" *ngIf="nuevo">Crear</button>
        <button type="button" class="btn btn-success" (click)="actualizarCliente()" *ngIf="!nuevo">Modificar</button>
        <button type="button" class="btn btn-danger ms-4" (click)="cancelar()">Cancelar</button>

        <div class="alert alert-{{alerta.color}} px-3 mx-5" role="alert" *ngIf="alerta.activo">
            {{alerta.mensaje}}
        </div>
    </form>
    <div class="col-8">
        <table class="table" *ngIf="clientes != undefined && clientes.length!=0">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of clientes">
                    <td>{{m.id}}</td>
                    <td>{{m.nombre}}</td>
                    <td>{{m.dni}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="editar(m)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg></button>
                        <button type="button" class="btn btn-danger" (click)="eliminar(m)">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16" *ngIf="m.estado">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                                class="bi bi-arrow-repeat" viewBox="0 0 16 16" *ngIf="!m.estado">
                                <path
                                    d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                <path fill-rule="evenodd"
                                    d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                            </svg>

                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[10]" aria-label="Select page" (page)="onPageChange($event)">
        </mat-paginator>
        <div *ngIf="clientes == undefined || clientes.length==0">
            No hay clientes
        </div>
    </div>
</div>