<div class="divPrincipalLogin">
    <div class="divAdminLogin"></div>
    <div class="grad">
    </div>
    <div class="divAdminLoginHeader">
        <img src="/assets/7942012.png" alt="">
    </div>
    <br>
    <div class="login">
        <input [(ngModel)]="nombre" type="text" name="nombre" id="" placeholder="Nombre de Usuario">
        <br>
        <input [(ngModel)]="contra" type="password" name="password" placeholder="Contraseña">
        <br>
        <input type="button" name="" id="" value="Ingresar" >
    </div>
</div>