<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Beautiful Home Page</title>
</head>

<body>
    <img src="/assets/7942012.png" class="logo">

    <div class="homepage">
        <a routerLink="auto">Auto</a>
        <a routerLink="marca">Marca</a>
        <a routerLink="modelo">Modelo</a>
        <a routerLink="cliente">Cliente</a>
        <a routerLink="tecnico">Tecnico</a>
        <a routerLink="orden">Orden de trabajo</a>
        <a routerLink="servicio">Servicio</a>
        <a routerLink="informe">Informes</a>

    </div>
</body>

</html>