<div id="header">
    <div class="logo">
        <img src="assets/7942012.png" class="logo" [routerLink]="['/home']" />
    </div>
    <nav>
        <form class="search" action="search.php">
            <input name="q" placeholder="Search..." type="search">
        </form>
        <ul>
            <li>
                <a routerLink="/home/auto">Auto</a>
            </li>

            <li>
                <a routerLink="/home/marca">Marca</a>
            </li>

            <li>
                <a routerLink="/home/modelo">Modelo</a>
            </li>

            <li>
                <a routerLink="/home/cliente">Cliente</a>
            </li>

            <li>
                <a routerLink="/home/tecnico">Tecnico</a>
            </li>
            <li>
                <a routerLink="/home/orden">Orden</a>
            </li>
            <li>
                <a routerLink="/home/servicio">Servicio</a>
            </li>
            <li>
                <a routerLink="/home/informe">Informe</a>
            </li>



        </ul>
    </nav>
</div>